@import "./app";
@import "./header/header_dir";
@import "./sections/sections";
@import "./hero/hero";
@import "./features/features_dir";
@import "./slider/slider_dir";
@import "./infrastructures/infrastructure_dir";
@import "./charts/charts_dir";
@import "./how_it_works_steps/hiw_steps_dir";
@import "./faq_contact/faq_contact_dir";
@import "./link_lists/link_lists_dir";
@import "./certificates/certificates";
@import "./footer/footer";
@import "./modal/modal_dir";
