.features {
  @include grid-container(1px);
  background-color: var(--trans-dark-3);
}

@media only screen and (min-width: 0px) {
  .features {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .features {
    // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

// @media only screen and (min-width: 768px) {
//   .features {
//     grid-template-columns: repeat(3, 1fr);
//   }
// }
