.feature {
  // @extend .flex;
  background-color: #fff;
  @include grid-container(1em);
  @include uniform-sides-padded-container(4rem);

  .feature-icon {
    @extend .flex;
    justify-content: center;
    @extend .grey-highlight;

    // padding-right: 0.5em;
  }
  .feature-details {
    .feature-title {
      @extend .secondary-highlight;
    }
    @include grid-container(1em);
    .feature-description {
      color: var(--trans-dark-7);
    }
  }
  .feature-cta {
    @extend .tertiary-highlight;
    align-items: center;
    transition: 0.4s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
    .feature-cta-icon {
      transition: margin-left 0.4s ease-in-out;
      font-size: inherit;
      margin-left: 0.5em;
    }
    &:hover {
      .feature-cta-icon {
        margin-left: 1em;
      }
    }
  }
}

@media only screen and (min-width: 0px) {
  .feature {
    grid-template-columns: 1fr;

    .feature-icon {
      align-items: center;
      font-size: 5rem;
    }
    .feature-details,
    .feature-cta {
      text-align: center;
    }
    // .feature-cta{

    // }
  }
}

@media only screen and (min-width: 500px) {
  .feature {
    grid-template-columns: auto 1fr;

    .feature-icon {
      align-self: start;
      font-size: 3rem;
    }
    .feature-details,
    .feature-cta {
      text-align: left;
    }
    // .feature-cta{

    // }
  }
}

@media only screen and (min-width: 600px) {
  .feature {
    &:last-child {
      grid-column: 1 / -1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .feature {
    grid-template-columns: 1fr;

    .feature-icon {
      align-items: center;
      font-size: 5rem;
    }
    .feature-details,
    .feature-cta {
      text-align: center;
    }
    &:last-child {
      grid-column: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .feature {
    grid-template-columns: 1fr;

    .feature-icon {
      align-items: center;
      font-size: 5rem;
    }
    .feature-details,
    .feature-cta {
      text-align: center;
    }
    &:last-child {
      grid-column: auto;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .feature {
    grid-template-columns: auto 1fr;

    .feature-icon {
      align-items: start;
      font-size: 3rem;
    }
    .feature-details,
    .feature-cta {
      text-align: left;
    }
    &:last-child {
      grid-column: auto;
    }
  }
}
