.certificates {
  @extend .flex-centered;
  background: #f5f5f5;
  .certificates-section-list {
    @extend .flex-centered;
    flex-wrap: wrap;
    img {
      flex: 1;
      max-height: 100px;
      width: auto;
      margin: 0 2em;
    }
  }
}
