.app-footer {
  @include grid-container(0);
  grid-template-rows: 1fr auto;
  color: var(--grey-800);
  .foot-top-section {
    @include grid-container(1em);
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .foot-bottom-section {
    @include border-top(1px, solid, var(--trans-dark-3));
    @include grid-container(0.5em);
    @include custom-padding(2em, 4em, 4em, 4em);
    justify-content: center;
    text-align: center;
    p,
    a {
      font-size: 0.85rem !important;
    }
    .policy-terms-sitemap {
      display: flex;
      justify-content: center;
      a {
        margin: 0 0.5em;
      }
    }
  }
}

@media only screen and (min-width:0px){
  .app-footer {
    
    .foot-top-section {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
   
  }
}