.hero {
  @include grid-container(1em);
  background-color: var(--grey-800);
  background-size: cover;
  background-blend-mode: multiply;
  color: #fff;
  min-height: 100px;

  .hero-text-details {
    @include grid-container(1em);

    h1 {
      font-weight: 300;
      font-size: calc(3rem - 1vw);
    }
    h2 {
      @extend .fourthiary-highlight;
      font-weight: 500;
      font-size: calc(2rem - 1vw);
    }
    .description {
      p {
        font-weight: 300;
        color: var(--trans-light-7);
      }
    }
  }
  .hero-cta-btn {
    background: var(--sunflower);
    color: var(--trans-dark-9);
  }
}

@media only screen and (min-width: 0px) {
  .hero {
    justify-content: center;
    .hero-text-details {
      max-width: 40ch;
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    justify-content: flex-start;
    .hero-text-details {
      max-width: 60ch;
    }
  }
}
