.app-header {
  background: var(--midnight-blue);
  .head-top-section {
    @extend .flex;
    justify-content: flex-end;
    @include uniform-sides-padded-container(0.5em);
    background: var(--trans-dark-3);
    p {
      color: #fff;
      text-align: right;
    }
  }
  .head-bottom-section {
    @include grid_container(0);
    grid-template-columns: auto 1fr;
    //@include border-bottom(2px, solid, var(--sunflower));
  }
}

@media only screen and (min-width: 0px) {
  .app-header {
    .head-top-section {
      justify-content: center;
    }
    .head-bottom-section {
      grid-template-columns: 1fr auto;
    }
  }
}

@media only screen and (min-width: 320px) {
  .app-header {
    .head-top-section {
      justify-content: flex-end;
    }
    .head-bottom-section {
      grid-template-columns: 1fr auto;
    }
  }
}
