.app-nav-mobile {
  background: #fff;
  border: none;
  margin: 0;
  padding: 0;
  @include box-shadow(0, 2px, 2px, var(--trans-dark-3));
  .nav-header {
    @include grid-container(0.5em);
    grid-template-columns: 1fr auto;
    @include two-sides-padded-container(1em, 2em);
    align-items: center;
    .modal-close {
      @extend .flex-centered;
      @include uniform-sides-padded-container(0.25em);
      @include border-radius(50%);
      @extend .primary-bg;
      width: 1rem;
      height: 1rem;
    }
    border-bottom: 3px solid $primary;
  }
  .nav-links {
    @include grid-container(0);
    grid-auto-rows: 1fr;
    a {
      @extend .flex;
      justify-content: left;
      align-items: center;
      @include two-sides-padded-container(1em, 2em);
      @include border-bottom(1px, solid, var(--trans-dark-3));
      &:last-child {
        @extend .primary-bg;
        border-bottom: none;
      }
      &:hover:not(:last-child) {
        background: var(--grey-100);
      }
      .nav-icon {
        transition: inherit;
        font-size: 1rem;
        margin-left: 0.75em;
        //transform: rotate(90deg);
        transition: margin-left 0.4s ease-in-out;
        @extend .primary-highlight;
      }
      .nav-icon-front {
        margin-right: 0.75em;
        transition: margin-right 0.4s ease-in-out;
      }
      &:hover {
        .nav-icon {
          margin-left: 1.25em;
        }
        .nav-icon-front {
          margin-right: 1.25em;
        }
      }
    }
  }
}
