.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--trans-dark-5);
  overflow-y: scroll;
  z-index: 100;
  .modal-content {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); //0.4s ease-in-out;
  }
}
