.link-list-template-1 {
  @include grid-container(1em);
  .link-list-header {
    @extend .secondary-highlight;
    text-transform: capitalize;
    font-weight: 400;
  }
  .link-list-section {
    @include grid-container(1em);
    .link-list-sub-header {
      text-transform: capitalize;
      @extend .success-highlight;
    }
    .link-list {
      @include grid-container(0.25em);
      list-style: none;
      a {
        &:hover {
          text-decoration: underline;
          @extend .primary-highlight;
        }
      }
    }
  }
}
