button {
  @include border-radius(4px);
  @include two-sides-padded-container(1em, 2em);
  position: relative;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--trans-dark-2);
    border-radius: inherit;
    opacity: 0;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
